<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.trafficpal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
		
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.android.trafficcontentprovider.MyContentProvider"
            android:authorities="com.example.android.trafficcontentprovider" >
        </provider>

        <activity
            android:name=".AddRoute"
            android:label="@string/title_activity_add_route"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="ENTER YOU GOOGLE API KEY HERE" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>

        <service
            android:name="com.example.android.notifications.AlarmScheduler"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.example.android.notifications.NotificationAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.example.android.notifications.MidnightAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <!--
        <receiver
            android:name="com.example.android.notifications.LoggingAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        -->
        <receiver
            android:name="com.example.android.notifications.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RouteSettings"
            android:label="@string/title_activity_route_settings"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" >
        </activity>
        <activity
            android:name=".ChartViewer"
            android:label="@string/title_activity_chart_viewer"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".DaySelection"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"
            android:label="@string/title_activity_day_selection" >
        </activity>
    </application>

</manifest>
